src/**/*.ts
src/**/check/**
**/*.map
package-lock.json
tsconfig.json
.vscode/**
.vscode-test/**
.gitignore
.gitattributes
*.svg
out/test/**
test/**
.prettierignore
.prettierrc
azure-pipelines.yml
.nyc_output/
coverage/
